<ul class="list-group" *ngIf="page">
    <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/page', movie.id]" routerLinkActive="active" *ngFor="let movie of page.results">
        <app-movie-tile [movie]="movie"></app-movie-tile>
    </a>    
</ul>
<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid justify-content-center">
        <ul class="pagination navbar-nav">
            <li class="page-item nav-item" *ngIf="page && page.page !== 1">
                <a href="#" class="page-link">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class="page-item nav-item active">
                <a href="/list/1" class="page-link">1</a>
            </li>
            <li class="page-item nav-item">
                <a href="/list/2" class="page-link">2</a>
            </li>
            <li class="page-item nav-item">
                <a href="/list/3" class="page-link">3</a>
            </li>
            <li class="page-item nav-item">
                <a href="/list/4" class="page-link">4</a>
            </li>
            <li class="page-item nav-item">
                <a href="#" class="page-link">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</nav>