@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body.dark {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

body.light {
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

/* div {
    border: 1px solid pink;
} */